/* ========= CONFIG ========== */

:root {
	--primary-100: hsl(214, 82%, 97%);
	--primary-200: hsl(214, 82%, 79%);
	--primary-400: hsl(209, 82%, 53%);
	--primary-500: hsl(214, 82%, 51%);
	--primary-600: hsl(214, 82%, 39%);
	--dark-900: hsl(206, 6%, 25%);
	--dark-500: hsl(206, 6%, 33%);
	--dark-400: hsl(206, 6%, 40%);
	--dark-200: hsl(206, 6%, 45%);
	--dark-100: hsl(206, 6%, 50%);
	--light-900: hsl(200, 12%, 75%);
	--light-800: hsl(80, 5%, 83%);
	--light-600: hsl(200, 12%, 90%);
	--light-500: hsl(200, 12%, 95%);
	--light-100: hsl(200, 12%, 100%);
}

html {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box; /* default: content-box */
}

body {
	transition-duration: 300ms;
	transition-timing-function: ease-out;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	color: var(--dark-900);
	background: var(--light-100);
}

.container {
	width: 100%;
	height: 100vh;
}

/* ========= CALENDAR ========== */

#calendar {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: var(--light-100);
}

/* ========= HEADING CONTAINER ========== */

/* Container */
.calendar_heading {
	align-self: center;
	cursor: default;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 99%;
	/* height: 100px; */
	height: 60px;
	border-top: 1px solid var(--light-600);
}

/* ========== HEADING LEFT SECTION ========== */

/* Heading Left Section*/
.calendar_heading .heading_left {
	display: flex;
	align-items: center;
	height: 100%;
}

/* ========== ARROWS ========== */

/* Container for arrows */
.calendar_arrows {
	display: flex;
	justify-content: space-around;
	width: 60px;
}

.calendar_arrow-focus {
	position: relative;
	display: flex;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	cursor: pointer;
}

.calendar_arrow-focus:hover {
	background: var(--light-500);
}

.calendar_arrow-prev,
.calendar_arrow-next {
	position: relative;
	top: 6.5px;
	cursor: pointer;
	width: 10px;
	height: 10px;
	background: none;
}

/* container for arrows */
.calendar_arrow-prev {
	left: 12px;
	transform: rotate(45deg);
	-webkit-box-shadow: 10px 15px 0px 0px var(--dark-900);
	box-shadow: -3px 3px 0px 0px var(--dark-900);
}

.calendar_arrow-next {
	left: 1px;
	transform: rotate(45deg);
	-webkit-box-shadow: 10px 15px 0px 0px var(--dark-900);
	box-shadow: 3px -3px 0px 0px var(--dark-900);
}

/* Title Heading */
.calendar_month {
	margin-left: 1.5rem;
	font-size: 22px;
	color: var(--dark-500);
}

/* ========== HEADING RIGHT SECTION ========== */

/* Heading Right Section Container */
.calendar_heading .heading_right {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

/* Dropdown Views & Button Container */
.heading_right .dropdown_views {
	position: relative;
	right: 0.875rem;
}

/* Button Container */
.heading_right .btn {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 85px;
	height: 35px;
	outline: none;
	border: none;
	border-radius: 4px;
	background: var(--light-800);
	color: var(--dark-900);
}

/* Down Arrow for Button */
.heading_right .btn .arrow_down {
	position: relative;
	bottom: 5px;
	left: 5px;
	width: 7px;
	height: 7px;
	transform: rotate(-45deg);
	box-shadow: -2px 2px 0px 0px var(--dark-500);
}

/* Views Popup Menu Container */
.heading_right .views {
	z-index: 9990;
	position: absolute;
	top: 3rem;
	right: -3.5rem;
	width: 200px;
	border-radius: 3px;
	display: none;
	flex-direction: column;
	padding: 0.5rem 0;
	background: var(--light-100);
	box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
}

.heading_right .views a {
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 1rem 1rem;
	width: 100%;
	height: 36px;
	color: var(--dark-900);
}

.heading_right .views a:hover {
	background: hsl(200, 12%, 90%);
}

/* ========== DATES & VIEWS ========== */

/* Default view is "Month" */

/* Container for all dates */
.calendar_dates {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	border: 1px solid var(--light-600);
}

/* Container for Today View */
.calendar_date--today {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	border: 1px solid var(--light-600);
}

.date {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: calc(100% / 7);
}

/* Date day view */
.date-day {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}

/* Date Today */
.date_dow-today {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	font-size: 14px;
	color: var(--primary-500);
}

.date:not(:last-child) {
	border-right: 1px solid var(--light-600);
}

/* Day of Week */

.date_dow {
	margin-top: 16px;
	margin-bottom: -8px;
	font-size: 12px;
	font-weight: 400;
	color: var(--light-900);
	width: max-content;
}

.date_num {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	width: max-content;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	margin-top: 6px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: var(--dark-400);
}

/* Scroller */
.date_today {
	margin: 1rem 0.375rem 0.3125rem 0.375rem;
}

.date_today .date_num {
	font-size: 20px;
	padding: 1.375rem;
}

.date--blur {
	background: var(--light-100);
}

.date_num:hover {
	background: var(--primary-100);
}

.date_num--blur {
	color: var(--light-900);
}

.row {
	display: flex;
	width: 100%;
}

.row:not(:last-child) {
	border-bottom: 1px solid var(--light-600);
}

.today {
	color: var(--light-100);
	background: var(--primary-500);
}

.today:hover {
	color: var(--light-100);
	background: var(--primary-400);
}

/* ========== TIME ========== */

/* Container for all time slots */
.scroller {
	overflow: auto;
	flex-grow: 1;
}

/* Individual Time Slot */
.time-slot {
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	font-size: 14px;
	border-bottom: 1px solid var(--light-500);
	color: var(--dark-200);
}

.time-slot span {
	margin-left: 0.75rem;
}

/* ========== SLIDE ANIMATIONS ========== */

/* slide-right */

.slide-r {
	position: relative;
	animation-name: slide-r;
	animation-duration: 500ms;
}

@keyframes slide-r {
	0% {
		opacity: 0.4;
		right: 30%;
	}
	100% {
		right: 0;
		opacity: 1;
	}
}

/* slide-left */

.slide-l {
	position: relative;
	animation-name: slide-l;
	animation-duration: 400ms;
}

@keyframes slide-l {
	0% {
		opacity: 0;
		left: 30%;
	}
	100% {
		left: 0;
		opacity: 1;
	}
}

/* ========== MODAL TASK ========== */

/* The Modal (background) */
#modal {
	display: none; /* Hides by default */
	position: fixed; /* Stay in place */
	top: 0;
	left: 0;
	z-index: 9999; /* Sit on top */
	width: 100%;
	height: 100vh;
	background: none;
	background: hsl(180, 50%, 100%); /* Fallback color */
	background: rgba(0, 0, 0, 0.2); /* Opacity color */
}

/* Modal Content, Container */
.modal_content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 375px;
	/* height: 500px; */
	min-height: 50vh;
	background: hsl(180, 50%, 100%); /* Black w/ opacity */
	border: 1px solid var(--light-500);
	border-radius: 6px;
	box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
}

/* Modal top bar */
.modal_top {
	/* transition-duration: 400ms; */
	/* transition-timing-function: ease-out; */
	cursor: all-scroll;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: var(--light-500);
	height: 34px;
	padding: 2px 6px;
}

/* Close container */
.close {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.close:hover {
	background: var(--light-600);
}

/* Close Button */
.x {
	cursor: pointer;
	width: 16px;
	height: 2px;
	background: var(--light-900);
	float: right;
	transform: rotate(45deg);
}

.x:after {
	content: '';

	width: 16px;
	height: 2px;
	background: var(--light-900);
	float: right;
	transform: rotate(90deg);
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal_date {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 36px;
}

.modal_date-text {
	font-size: 14px;
	color: var(--dark-100);
}

#modal form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1.5rem;
	padding: 0 0 1rem 0;
}

#modal input {
	align-self: center;
	width: 80%;
	height: 48px;
	outline: none;
	border: 0;
	border-bottom: 1px solid var(--light-500);
	font-size: 22px;
}

.input--focus {
	position: relative;
	bottom: 2px;
	width: 5%;
	height: 2px;
	background: var(--primary-400);
	border-radius: 6px;
	width: 0%;
	transition-duration: 250ms;
	transition-timing-function: ease-out;
}

.modal_bottom {
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 64px;
	border-top: 1px solid var(--light-500);
}

.modal_bottom .btn {
	transition-duration: 400ms;
	transition-timing-function: ease-out;
	cursor: pointer;
	position: absolute;
	right: 1rem;
	display: flex;
	justify-self: center;
	align-items: center;
	border: 1px solid var(--light-500);
	padding: 0.5rem 1rem;
	padding-bottom: 0.6rem;
	color: white;
	border: none;
	border-radius: 4px;
	background: var(--primary-400);
}

.modal_bottom .btn:hover {
	background: var(--primary-500);
}
