// ========== CONTAINER ========== //

// Parent Row container for time blocks
.row.week {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

// ========== HEADING ROW ========== //

// Row Heading Container
.row.week .row.heading {
  display: flex;
  position: fixed;
  background: white;
  width: calc(100% - 18px); // scrollbar is approx 18px wide
}

// First column, spacer for alignment, should be same width as timeslot legend
.row.week .row.heading .spacer {
  // flex-grow: 2;
  width: 44px;
}

// Date Container
.row.week .row.heading .col {
  flex-grow: 1;
  display: flex;  
  flex-direction: column;
  padding-bottom: 0rem;
}

// Container for dow & number
.row.week .row.heading .date {
  align-self: center;
  width: 60px;
}


// DOW e.g.) SUN - SAT
.row.week .row.heading .dow {
  margin-top: 7px;
  margin-bottom: 1px;
  font-size: 12px;
  color: map-get-deep($palette, 'dark', '100');
}

// NUM: Number e.g.) 1 - 31
.row.week .row.heading .num {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: white;
  width: 44px;
  height: 44px;
  color: map-get-deep($palette, 'dark', '100');
  border-radius: 50%;
}

// Add focus to DOW for today
.row.week .row.heading .dow.today {
  color: map-get-deep($palette, 'primary', '500');
  background: white;
}

// Add focus to NUM for today
.row.week .row.heading .num.today {
  color: white;
}

// ========== TIMESLOTS ROW ========== //


// Column for each day
.row.week .row.timeslots .col:first-child {
  flex-grow: 0;
  width: 44px;
  border: none;
  margin-top: 2rem;
}


//
.row.week .row.timeslots .timeslot_legend {
  position: relative;
  top: 9px;
  right: -16px;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  align-items: center;
  color:  map-get-deep($palette, 'dark', '100');
  font-size: 10px;
  width: 44px;
  height: 44px;
}

// Row Timeslots Container
.row.week .row.timeslots {
  display: flex;
  margin-top: 24px;
}

// Column for each day
.row.week .row.timeslots .col {
  flex-grow: 1;
}

// Timeslot container for each hour in day, 24
.row.week .row.timeslots .timeslot {
  height: 44px;
  font-size: 10px;
  color: map-get-deep($palette, 'light', '600');
}

// First timeslot gets special styling
.row.week .row.timeslots .timeslot:nth-child(1) {
  margin-top: 2rem;
}

// Add border bottom only to all timeslots except last row
.row.week .row.timeslots .timeslot:not(:last-child) {
  border-bottom: 1px solid map-get-deep($palette, 'light', '600');
}

// Add border right to all timeslots that are not of the last column
.row.week .row.timeslots .col:not(:last-child) .timeslot {
  border-right: 1px solid map-get-deep($palette, 'light', '600');
}