// -----------------------------------------------------------------------------
// This file contains all styles related to the date component for month view.
// -----------------------------------------------------------------------------

/* Container for all dates */
.calendar_dates {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	border: 1px solid map-get-deep($palette, 'light', '600');
}

.date {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.date:not(:last-child) {
	border-right: 1px solid map-get-deep($palette, 'light', '600');
}

// Date number e.g.) 1 - 31
.date_num {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	width: max-content;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	margin-top: 6px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: map-get-deep($palette, 'dark', '400');
}

.date_num:hover {
	background: map-get-deep($palette, 'primary', '100');
}

// Date number for dates not of current month
.date_num--blur {
	color: map-get-deep($palette, 'light', '900');
}

// Day of Week e.g.) SUN - SAT 
.date_dow {
	margin-top: 16px;
	margin-bottom: -3px;
	font-size: 12px;
	font-weight: 400;
	color: map-get-deep($palette, 'light', '900');
	width: max-content;
}

// Focus for "Today" date
.today {
	color: map-get-deep($palette, 'light', '100');
	background: map-get-deep($palette, 'primary', '500');
}

.today:hover {
	color: map-get-deep($palette, 'light', '100');
	background: map-get-deep($palette, 'primary', '400');
}
