/* Default view is "Month" */

.row.month {
	width: 100%;
}

.row.month:not(:last-child) {
	border-bottom: 1px solid map-get-deep($palette, 'light', '600');
}


.row.month .date  {
	width: calc(100% / 7);
}