// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

/////////////
// - HOME
////////////

.home {
  display: flex;
  flex-direction: column;
}

.user__banner {
  max-width: rem(599); /* less than parent */
  max-height: rem(200); /* less than parent */
  margin-bottom: rem(-69)
}

.user__gravatar {
  position: relative;
  left: rem(10);
  max-width: rem(134);
  max-height: rem(134);
  border-radius: 50%;
  border: rem(6) solid white;
  box-sizing: content-box;
  margin-bottom: rem(-72);
}

.user__details {
  margin: 0 auto; /* centers el */
  max-width: rem(598); /* less than parent */
  padding: 0 rem(15);
}

.user__notifications {
  display: flex;
  justify-content: flex-end;
  margin-bottom: rem(64);
  padding-right: rem(28);
}

.user__notifications img {
  margin-right: rem(8);
}

.user__name {
  padding: 0;
  margin: 0;
  color: map-get-deep($palette, 'primary', '500');
  font-size: rem(19);
  padding-bottom: rem(4);
}

.user__handle {
  margin: 0;
  color: #657786;
  font-size: rem(15);
}