/* ========== TIME ========== */

/* Container for all time slots */
.scroller {
	overflow: scroll;
	flex-grow: 1;
	width: 100%;
	height: 1px;
}

/* Individual Time Slot */
.time-slot {
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	font-size: 14px;
	border-bottom: 1px solid map-get-deep($palette, 'light', '500');
	color: map-get-deep($palette, 'dark', '200');
}

.time-slot span {
	width: 2.625rem;
	font-size: 10px;
	text-align: right;
	margin-left: 0rem;
}