// -----------------------------------------------------------------------------
// This file contains utility helpers
// -----------------------------------------------------------------------------

.col {
  display: flex;
  flex-direction: column;
}

.row {
	display: flex;
}